@import "../../styles/common.scss";

.page {
    background: url("../../images/common/login_bg.jpg") no-repeat;
    background-size: 100% 100%;
    height: 100%;

    .loginBody {
        .loginForm {
            width: 300px;
            height: 393px;
            float: right;
            margin-top: 300px !important;
            margin-right: 200px !important;

            .title {
                margin: 45px 0 45px;
                font-size: 24px;
                font-weight: bold;
                text-align: center;
                color: #031D2D;
                letter-spacing: 10px;
            }

            .account {
                width: 300px;
                height: 35px;
                line-height: 35px;
                font-size: 16px;
                margin: 20px 0 0;
                outline: none;
                border: none;
                border-bottom: 1px #e6e9eb solid;
            }

            ::-webkit-input-placeholder {
                color: #9ea8b1;
                font-size: 14px;
                line-height: 35px;
            }

            .errorMsg {
                width: 230px;
                float: left;
                height: 45px;
                line-height: 35px;
                font-size: 12px;
                color: #f05157;
                text-align: left;
            }

            .restPassword {
                width: 70px;
                display: block;
                float: right;
                height: 45px;
                line-height: 35px;
                text-align: right;
                font-size: 13px;
                color: #556675;
                cursor: pointer;
            }

            > button {
                width: 300px;
                height: 44px;
                border-radius: 22px;
                background-color: $commonColor1;
                color: #fff;
                font-size: 16px;
                text-align: center;
                line-height: 44px;
                box-shadow: 0 4px 10px #e0e9f6;
                margin: 30px 0;
            }

            .disable {
                pointer-events: none;
            }

            .footer {
                width: 100%;
                font-size: 12px;
                font-weight: 300;
                line-height: 20px;
                color: #CFD3D8;
                text-align: center;
            }
        }
    }
}
